body {
    background-image: url(http://forums.bascota.com/image/photo1379612701_687.jpg) ; background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
h1{
    color: crimson;
    text-align: center;
}
#one {
    text-align: center;
    text-decoration-style: dotted;
    
}


#three {
    text-align: center;
    display: inline-block;
}
p {
    color:maroon;
    font-size: 35px;
}
.all{
    display:inline-block;
}
#tow {
    display: inline-block;
    float: right;
}
#four {
    display: inline-block;
    
}
