body {background-color: #111111}
h1 {color: #E2E80F; text-align: center; font-size: 50px}
p {color: #eeeeee; font-size: 25px; padding: inherit}
.credits {color: blue; text-decoration: underline;}
#film-description {font-size: 17px;
}