#firstId
{color:red;
font-size: 28px;
background-color:  green;}
#balabla
{color:black;
font-size: 100px;
background-color:  green;}
#indsection
{color: aqua;
font-size: 40px;
background-color:  green;}